@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;500;900&display=swap');

* {
  padding: 0;
  margin: 0;
}

body,
html {
  height: 100vh;
  margin: 0;
  padding: 0;

  background-color: rgb(255, 255, 255);
  font-family: 'Red Hat Display', Arial, Helvetica, sans-serif;
}

a#whata {
  position: fixed;
  right: 2%;
  bottom: 5%;
  width: 40px;
  height: 40px;
  padding: 5px;
  border-radius: 80px;

  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.481);
  background-color: white;
  background-image: url('imagens/ווטסאפ_לוגו.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}


header {
  text-align: center;
  height: 6%;
  padding-bottom: 0px;
  padding-top: 10px;
  margin-bottom: 20px;

  background-image: url('imagens/cordourada.avif');
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.481);
}

header>a {
  position: relative;
  margin-right: 4%;
  margin-left: 4%;
  font-size: calc(0.5em + 0.4vw);
  display: inline-block;
  padding: 5px;

  border-radius: 2px;
  text-decoration: none;
  border: 1px solid rgb(255, 255, 255);
  color: white;
}

h1 {
  text-align: center;
  font-size: 1.5em;

  font-weight: bolder;
  font-family: 'Bad Script', Courier, monospace;
  color: rgb(218, 165, 32);

}

hr {
  position: relative;
  top: 1px;
  border: none;
  height: 0.1px;
  width: 50%;
  margin: auto;

  background-color: #18272f58;
}

#frase {
  text-align: center;
  width: 80%;
  font-size: 0.6em;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;

  color: rgb(218, 165, 32);
  font-weight: normal;
  font-family: 'Red Hat Display' Arial, Helvetica, sans-serif;
}

menu {
  text-align: center;
  margin-top: 2%;
  margin-bottom: 10px;
}

ul {
  text-align: center;
  list-style: none;
}

ul>li {
  display: inline-block;
  text-align: center;
  width: 90px;
  font-size: 0.8em;
}

menu>ul>li>a {
  display: inline-block;
  position: relative;
  font-weight: normal;

  color: #18272F;
  text-decoration: none;
}

menu>ul>li>a:hover {
  display: inline-block;

  color: rgb(218, 165, 32);
  transition: .3s;
}

.dropdown-menu {
  position: absolute;
  display: none;
  padding: 2% 0px 0px 0px;

  text-decoration: none;
  font-weight: normal;
}

.dropdown-menu a {
  display: block;
  width: 100%;
  padding: 20px;
  margin: -2px;

  color: white;
  text-decoration: none;
  background-color: #F4D65E;
  border-radius: 2px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

#cat1:hover {
  background-color: white;
  color: rgb(218, 165, 32);
  transition: .3s;
}

#cat2:hover {
  background-color: white;
  color: rgb(218, 165, 32);
  transition: .3s;
}

#cat3:hover {
  background-color: white;
  color: rgb(218, 165, 32);
  transition: .3s;
}

main>a>img {
  display: none;
  margin: auto;
  margin-top: 15%;
  width: 92%;

  border-radius: 2px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.252);
}

main>a#destaque2>img {
  display: block;
  margin-top: 20%;
}

footer {
  background-image: url('imagens/cordourada.avif');
  background-repeat: no-repeat;
  background-size: cover;
}


footer>p {
  font-size: 0.5em;
  text-align: center;
  margin-top: 41%;
  padding: 15px;

  color: rgb(0, 0, 0);
}